#tittle{
    text-align: center;
    font-size: 30px;
    color: #000;
    margin-top: 20px;
}

#box_login{
    width: 100px;
    height: 300px;
    display: block;
}

#name{
    text-align: center;
    font-size: 20px;
    color: #000;
    margin-top: 20px;

}