#tittle{
    text-align: center;
    color: #333;
}

#userBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 45%;
    max-height: 77vh;
    border: 1px solid #ccc;
    overflow-y: auto;       
}

#userDetailBox{
    width: 55%;
    max-height: 77vh;        
    border: 1px solid #ccc;   
}